*.o
*.d
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
opuslib/build/intermediates/bundles/debug/classes.jar
opuslib/build/intermediates/bundles/debug/jni/armeabi/libopustool.so
opuslib/build/intermediates/bundles/release/classes.jar
opuslib/build/intermediates/bundles/release/jni/armeabi/libopustool.so
opuslib/build/intermediates/classes/androidTest/debug/android/support/v7/appcompat/R$anim.class
opuslib/build/intermediates/classes/androidTest/debug/android/support/v7/appcompat/R$attr.class
opuslib/build/intermediates/classes/androidTest/debug/android/support/v7/appcompat/R$bool.class
opuslib/build/intermediates/classes/androidTest/debug/android/support/v7/appcompat/R$color.class
opuslib/build/intermediates/classes/androidTest/debug/android/support/v7/appcompat/R$dimen.class
opuslib/build/intermediates/classes/androidTest/debug/android/support/v7/appcompat/R$drawable.class
opuslib/build/intermediates/classes/androidTest/debug/android/support/v7/appcompat/R$id.class
opuslib/build/intermediates/classes/androidTest/debug/android/support/v7/appcompat/R$integer.class
opuslib/build/intermediates/classes/androidTest/debug/android/support/v7/appcompat/R$layout.class
opuslib/build/intermediates/classes/androidTest/debug/android/support/v7/appcompat/R$string.class
opuslib/build/intermediates/classes/androidTest/debug/android/support/v7/appcompat/R$style.class
opuslib/build/intermediates/classes/androidTest/debug/android/support/v7/appcompat/R$styleable.class
opuslib/build/intermediates/classes/androidTest/debug/android/support/v7/appcompat/R.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/ApplicationTest.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R$anim.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R$attr.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R$bool.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R$color.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R$dimen.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R$drawable.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R$id.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R$integer.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R$layout.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R$menu.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R$mipmap.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R$string.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R$style.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R$styleable.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/R.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/BuildConfig.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R$anim.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R$attr.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R$bool.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R$color.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R$dimen.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R$drawable.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R$id.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R$integer.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R$layout.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R$menu.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R$mipmap.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R$string.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R$style.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R$styleable.class
opuslib/build/intermediates/classes/androidTest/debug/top/oply/opuslib/test/R.class
opuslib/build/intermediates/classes/debug/top/oply/opuslib/OpusPlayer$PlayThread.class
opuslib/build/intermediates/classes/debug/top/oply/opuslib/OpusPlayer.class
opuslib/build/intermediates/classes/debug/top/oply/opuslib/OpusRecorder$RecordThread.class
opuslib/build/intermediates/classes/debug/top/oply/opuslib/OpusRecorder.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/OpusPlayer$PlayThread.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/OpusPlayer.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/OpusRecorder$RecordThread.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/OpusRecorder.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/Utils.class
opuslib/build/intermediates/resources/resources-debug-androidTest.ap_
opuslib/build/outputs/aar/opuslib-debug.aar
opuslib/build/outputs/aar/opuslib-release.aar
opuslib/src/main/libs/armeabi/libopustool.so
opuslib/src/main/obj/local/armeabi/libopustool.so
*.log
opuslib/src/main/obj/local/mips/libopustool.so
opuslib/src/main/obj/local/mips64/libopustool.so
opuslib/src/main/obj/local/x86/libopustool.so
opuslib/src/main/obj/local/x86_64/libopustool.so
opuslib/src/main/libs/mips/libopustool.so
opuslib/src/main/libs/mips64/libopustool.so
opuslib/src/main/libs/x86/libopustool.so
opuslib/src/main/libs/x86_64/libopustool.so
opuslib/src/main/obj/local/arm64-v8a/libopustool.so
opuslib/src/main/obj/local/armeabi-v7a/libopustool.so
opuslib/build/intermediates/classes/release/top/oply/opuslib/OpusTrackInfo.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/Utils$AudioTime.class
opuslib/build/intermediates/manifests/tmp/manifestMerger8538411793694594703.xml
opuslib/src/main/libs/arm64-v8a/libopustool.so
build/intermediates/gradle_project_sync_data.bin
oplayer/.gitignore
opuslib/build/intermediates/bundles/debug/AndroidManifest.xml
opuslib/build/intermediates/bundles/debug/aapt/AndroidManifest.xml
opuslib/build/intermediates/bundles/debug/jni/arm64-v8a/libopustool.so
opuslib/build/intermediates/bundles/debug/jni/armeabi-v7a/libopustool.so
opuslib/build/intermediates/bundles/debug/jni/mips/libopustool.so
opuslib/build/intermediates/bundles/debug/jni/mips64/libopustool.so
opuslib/build/intermediates/bundles/debug/jni/x86/libopustool.so
opuslib/build/intermediates/bundles/debug/jni/x86_64/libopustool.so
opuslib/build/intermediates/bundles/release/AndroidManifest.xml
opuslib/build/intermediates/bundles/release/aapt/AndroidManifest.xml
opuslib/build/intermediates/bundles/release/jni/arm64-v8a/libopustool.so
opuslib/build/intermediates/bundles/release/jni/armeabi-v7a/libopustool.so
opuslib/build/intermediates/bundles/release/jni/mips/libopustool.so
opuslib/build/intermediates/bundles/release/jni/mips64/libopustool.so
opuslib/build/intermediates/bundles/release/jni/x86/libopustool.so
opuslib/build/intermediates/bundles/release/jni/x86_64/libopustool.so
opuslib/build/intermediates/classes/debug/top/oply/opuslib/OpusConverter$ConvertThread.class
opuslib/build/intermediates/classes/debug/top/oply/opuslib/OpusTrackInfo$AudioPlayList.class
opuslib/build/intermediates/classes/debug/top/oply/opuslib/OpusTrackInfo$MyThread.class
opuslib/build/intermediates/classes/debug/top/oply/opuslib/OpusTrackInfo.class
opuslib/build/intermediates/classes/debug/top/oply/opuslib/Utils.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/OpusConverter$ConvertThread.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/OpusConverter.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/OpusEvent.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/OpusRecorder$1.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/OpusRecorder$MyTimerTask.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/OpusService.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/OpusTool.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/OpusTrackInfo$AudioPlayList.class
opuslib/build/intermediates/classes/release/top/oply/opuslib/OpusTrackInfo$MyThread.class
opuslib/src/main/libs/armeabi-v7a/libopustool.so
build/intermediates/dex-cache/cache.xml
opuslib/build/intermediates/classes/debug/top/oply/opuslib/OpusConverter.class
opuslib/build/intermediates/classes/debug/top/oply/opuslib/OpusEvent.class
opuslib/build/intermediates/classes/debug/top/oply/opuslib/OpusService.class
