<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.oply.opuslib">

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <service
            android:name=".OpusService"
            android:exported="true">
            <intent-filter>
                <action android:name="top.oply.opuslib.action.OPUSSERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>
